In [3]:
import sqlite3
import csv
conn = sqlite3.connect('megapharma.db')
print("Megapharma Database Created successfully")

Megapharma Database Created successfully

In [10]:
conn = sqlite3.connect('Company1.db')
cursor = conn.cursor()
cursor.execute('SELECT SQLITE_VERSION()')
data = cursor.fetchone()[0]
print(f"SQLite version: {data}")

SQLite version: 3.33.0

In [7]:
cursor.execute('CREATE TABLE IF NOT EXISTS Hospital(Hospital_Id INT NOT NULL UNIQUE,Hospital_Name TEXT NOT NULL,Bed_Count INT NOT NULL)')
conn = conn.execute("PRAGMA table_info('Hospital');")
print("Hospital Database Table Structure")
for z in conn.fetchall():
    print(z)

Hospital Database Table Structure
(0, 'Hospital_Id', 'INT', 1, None, 0)
(1, 'Hospital_Name', 'TEXT', 1, None, 0)
(2, 'Bed_Count', 'INT', 1, None, 0)

In [9]:
cursor.execute('CREATE TABLE IF NOT EXISTS Doctors(Doctor_Id INT NOT NULL UNIQUE, Doctor_Name TEXT NOT NULL, Hospital_Id INT NOT NULL UNIQUE, Date_Joined REAL NOT NULL, Specialty TEXT NOT NULL, Salary INT NOT NULL,Experience INT NOT NULL)')
conn = conn.execute("PRAGMA table_info('Hospital');")
print("Doctors Database Table Structure")
for z in conn.fetchall():
    print(z)

Doctors Database Table Structure
(0, 'Hospital_Id', 'INT', 1, None, 0)
(1, 'Hospital_Name', 'TEXT', 1, None, 0)
(2, 'Bed_Count', 'INT', 1, None, 0)

In [43]:
import csv
conn = sqlite3.connect('Company1.db')
cursor = conn.cursor()
bfile = open("C:\\Users\\brenda.onyango\\Downloads\\Hospital.csv",'r')
rows = csv.reader(bfile)
next(rows, None)
cursor.executemany("INSERT INTO Hospital VALUES(?,?,?)", rows)
cursor.execute("SELECT * FROM Hospital")
Brendaa = cursor.fetchall()
for Onyangoo in Brendaa: 
    print(Onyangoo)
conn.commit()

(2002, 'Kings', 100)
(3003, 'Queens', 80)
(4004, 'Richmond', 70)
(2003, 'Yonkers', 200)
(3004, 'Staten', 87)
(4005, 'Brooklyn', 90)

In [41]:
import os
os.getcwd()

'C:\\Users\\brenda.onyango\\Downloads'

In [47]:
import csv
conn = sqlite3.connect('Company1.db')
cursor = conn.cursor()
bfile = open("C:\\Users\\brenda.onyango\\Downloads\\Doctors.csv",'r')
rows = csv.reader(bfile)
next(rows, None)
cursor.executemany("INSERT INTO Doctors VALUES(?,?,?,?,?,?,?)", rows)
cursor.execute("SELECT * FROM Doctors")
Brendaa = cursor.fetchall()
for Onyangoo in Brendaa: 
    print(Onyangoo)
conn.commit()

(101, 'DoctorA', 2002, '10/10/2005', 'Pedeatrics', 200000, 8)
(102, 'DoctorB', 3003, '5/5/2010', 'Surgery', 300000, 10)
(103, 'DoctorC', 4004, '8/8/2015', 'Optometrics', 180000, 5)

In [5]:
import sqlite3
import csv 
conn = sqlite3.connect('Company1.db')
cursor = conn.cursor()
cursor.execute('''SELECT * FROM Hospital INNER JOIN Doctors ON Hospital.Hospital_Id = Doctors.Hospital_Id''')
company = cursor.fetchall()
for files in company:
    print(files)

(2002, 'Kings', 100, 101, 'DoctorA', 2002, '10/10/2005', 'Pedeatrics', 200000, 8)
(3003, 'Queens', 80, 102, 'DoctorB', 3003, '5/5/2010', 'Surgery', 300000, 10)
(4004, 'Richmond', 70, 103, 'DoctorC', 4004, '8/8/2015', 'Optometrics', 180000, 5)